# Environments
.venv/
venv/

# Python cache and build
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Logs and temp
*.log
*.tmp

# IDE / system
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment configs
.env
.env.*

# --- Project output folders ---
checkpoints/*
!checkpoints/.gitkeep
!checkpoints/*.pt
!checkpoints/*.csv
!checkpoints/*.json

results/*
!results/.gitkeep
!results/*.json
!results/*.csv
!results/*.pdb